*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
header{
    background-color: #c44536;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 4%;
}
.newsletter{
    background-color: #fcca46;
}
header nav ul a {
    list-style: none;
    text-decoration: none;
    color: #fcca46;
    font-weight: bolder;
    font-size: 90%;
}
header nav ul li a:hover{
    color: white;
}
header nav li{
    display: inline-block;
    padding: 2%;
}
header nav{
    width: 600px;
}
header img{
    padding-left: 45%;
}
section article{
    background-image: url(../img/tioCacho1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.conoceTioCacho{
    padding-top: 30px;
    padding-bottom: 5px;
    display: flex;
}
.bienvenida h1{
    font-size: 55px;
    color: black;
}
.conoce{
    padding-top: 2%;
    padding-left: 5%;
    font-size: 50px;
    color: #c44536;
    text-align: start;
}
.grillaGeneral{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "video  horarios horarios";
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
}
.video{
    grid-area: video;
}
.horarios{
    grid-area: horarios;
    text-align: start;
    line-height: 1.5;
    font-size: 30px;
    padding-left: 3%;
}
h2{
    padding-top: 30px;
    padding-bottom: 35px;
    font-size: 35px;
    color: #c44536;
    text-align: center;
    grid-area: h2;
}
.novedades{
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly
}
.novedades div{
    background-color: #fcca46;
}
.novedades h3{
    padding: 4%;
}
.novedades p{
    padding-right: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
}
article div{
    border: 8px outset #fcca46;
    text-align: center;
    width: 350px;
}
article img{
    width: 350px;
    display: inline;
}
.newsletter{
    background-color: #fcca46;
    width: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 24px;
}
.newsletter input{
    margin-top: 30px;
    width: 500px;
    height: 40px;
}
.newsletter h3{
    font-size: 50px;
}
.instagram{
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}
.instagram h3{
    font-size: 50px;
    padding-bottom: 65px;
    line-height: 0.9;
    color: black;
    text-align: center;
}
.instagram a{
    text-decoration: none;
    color: #c44536;
    font-size: 60px;
    padding-bottom: 45px;
    font-weight: bolder;
}
.instagram div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 45px;
}
.instagram div img{
    width: 350px;
    margin: 10px;
}

h1{
    padding-top: 40px;
    padding-bottom: 15px;
    padding-left: 25px;
    color: #c44536;
    font-size: 40px;
}
.pastas div{ 
    width: auto;
    margin-left: 15px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.pastas p {
    padding-bottom: 20px;
    padding-left: 25px;
}
.pastas img{
    width: 250px;
    border: 8px solid #fcca46;
    border-radius: 15%;
    padding: 0px;
    margin: 10px;
}
.fiambreria{
    width: auto;
    margin-left: 15px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.fiambreria img{
    width: 250px;
    border: 8px solid #fcca46;
    border-radius: 15%;
    padding: 0px;
    margin: 10px;
}
.quesos{
    width: auto;
    margin-left: 15px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.quesos img{
    width: 250px;
    border: 8px solid #fcca46;
    border-radius: 15%;
    padding: 0px;
    margin: 10px;
}
.frutosecos{
    width: auto;
    margin-left: 15px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.frutosecos 
img{
    width: 250px;
    border: 8px solid #fcca46;
    border-radius: 15%;
    padding: 0px;
    margin: 10px;
}
.vinagresSalsas{
    width: auto;
    margin-left: 15px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.vinagresSalsas img{
    width: 250px;
    border: 8px solid #fcca46;
    border-radius: 15%;
    padding: 0px;
    margin: 10px;
}
.aderezos{
    width: auto;
    margin-left: 15px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.aderezos img{
    width: 250px;
    border: 8px solid #fcca46;
    border-radius: 15%;
    padding: 0px;
    margin: 10px;
}
.tomates{
    width: auto;
    margin-left: 15px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.tomates img{
    width: 250px;
    border: 8px solid #fcca46;
    border-radius: 15%;
    padding: 0px;
    margin: 10px;
}
.fideos{
    width: auto;
    margin-left: 15px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.fideos img{
    width: 250px;
    border: 8px solid #fcca46;
    border-radius: 15%;
    padding: 0px;
    margin: 10px;
}
.aceites{
    width: auto;
    margin-left: 15px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.aceites img{
    width: 250px;
    border: 8px solid #fcca46;
    border-radius: 15%;
    padding: 0px;
    margin: 10px;
}
.conservas{
    width: auto;
    margin-left: 15px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.conservas img{
    width: 250px;
    border: 8px solid #fcca46;
    border-radius: 15%;
    padding: 0px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
    margin-left: 10px;
}
.pedidos h1{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 25px;
    color: #c44536;
    font-size: 40px;
}
.pedidos{
    text-align: center;
    padding-bottom: 50px;
    line-height: 2.5;
}
.pedidos form{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    font-size: 20px;
    color: white;
    background-color: #c44536;
}
.pedidos div{
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 30px;
}
.pedidos div a{
    text-decoration: none;
    font-weight: bolder;
    color: #c44536;
}
.nosotros h1{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 25px;
    color: #c44536;
    font-size: 40px;
    text-align: center;
}
.nosotros h2{
    color: black;
    font-size: 25px;
    width: auto;
    padding-right: 150px;
    padding-left: 150px;
    text-align: center;
}
.nosotros img{
    width: 550px;
    height: 400px;
    border: 5px solid black;
    border-radius: 3%;
}
.nosotros div{
    text-align: center;
}
.nosotros p{
    padding-top: 70px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 23px;
}
.contacto h1{
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    color: #c44536;
    font-size: 40px;
    text-align: center;
}
.contacto form{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    font-size: 20px;
    color: white;
    background-color: #c44536;
    text-align: center;
}
.contacto form p{
    font-weight: bolder;
    padding-top: 20px;
}
.contactate a{
    text-decoration: none;
    color: #c44536;
}
.contactate{
    text-align: center;
    font-size: 32px;
    color: #c44536;
    font-weight: bolder;
    padding-bottom: 80px;
}
footer{
    width: auto;
    background-color: #c44536;
    color: #e7b9b4;
    padding-top: 35px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
footer div{
    width: 300px;
}
footer div iframe{
    width: 240px;
    height: 120px;
}
footer h3{
    text-decoration: underline;
}
@media screen and (max-width:576px){
    header{
        margin: 0%;
        padding: 0%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    header img{
        width: 35%;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 30%;
    }
    header nav{
        height: 38.59px;
    }
    header nav ul li a{
        width: auto;
        display: block;
        font-size: 75%;
        font-weight: 900;
        color: #c44536;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
    header nav ul{
        background-color: #fcca46;
    }
    header nav ul li a:hover{
        color: white;
    }
    .video{
        grid-area: video;
        padding-right: 10%;
        padding-bottom: 5%;
        padding-left: 10%;
    }
    .horarios{
        grid-area: horarios;
    }
    .grillaGeneral{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
        grid-template-areas:
        "video"
        "horarios";
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    section article{
        background-image: url(../img/background576px.png);
        font-size: 110%;
    }
    section article h1{
        font-size: 25%;
        text-decoration-style: solid;
    }
}
@media screen and (max-width:768px){
    header{
        margin: 0%;
        padding: 0%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
    }
    header img{
        width: 35%;
        text-align: center;
        padding-top: 3%;
        padding-bottom: 30%;
    }
    header nav{
        height: 38.59px;
    }
    header nav ul li a{
        width: auto;
        display: block;
        font-size: 75%;
        font-weight: 900;
        color: #c44536;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }
    header nav ul{
        background-color: #fcca46;
    }
    header nav ul li a:hover{
        color: white;
    }
    .video{
        grid-area: video;
        padding-right: 10%;
        padding-bottom: 5%;
        padding-left: 10%;
    }
    .horarios{
        grid-area: horarios;
    }
    .grillaGeneral{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
        grid-template-areas:
        "video"
        "horarios";
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    section article{
        background-image: url(../img/background576px.png);
        font-size: 110%;
    }
    section article h1{
        font-size: 25%;
        text-decoration-style: solid;
    }
}