header{
    background-color: $color-header;
    position: sticky;
    top: 0%;
    nav{
        ul{
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: bolder;
            color: #fcca46;
            li{
                padding-left: 10px;
                a{
                    font-size: $font-nav;
                    a:hover{
                        color: #c44536;
                    }
                }
            }
        }    
    }
}