h1{
    font-size: $font-h1;
    text-align: center;
    padding: 2.5%;
}
h2{
    font-size: $font-h2;
    color: $h2-color;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 1.3rem;
    padding-right: 2%;
    padding-left: 2%;
}
p{
    font-size: $font-p;
    text-align: center;
}
.grillaGral{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "banner carrusel carrusel";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .banner{
        grid-area: banner;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #f7ecde;
        padding-bottom: 1.5%;
        padding-right: 1.5%;
        padding-left: 1.5%;
        width: 1900px;
        height: 250px;
        h1{
            font-size: 2rem;
            padding-bottom: 0%;
        }
        p{
            text-align: center;
            font-size: 1.2rem;
        }
    }
    .carrusel{
        grid-area: carrusel;
    }
}
.novedad{
    padding-top: 55px;
}
.novedades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
    div{
        @extend .novedades;
        background-color: #eceaea;
        color: $font-color;
        border-radius: 3%;
        width: 300px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
        box-shadow: 5px 5px 5px rgb(190, 187, 187);
        text-align: center;
        h3{
            padding-top: 15px;
            text-align: center;
            width: 245px;
        }
        p{
            @extend h3;
            font-size: 1.2rem;
        }
    }
}
.newsletter{
    background-color: $background-newsletter;
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        h3{
            font-size: 35px;
        }
        p{
            font-size: 1.2rem;
            display: flex;
            text-align: center;
        }
    }
}
.nos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    p{
        padding: 5%;
        font-size: 1.1rem;
    }
    img{
        padding-top: 20px;
        text-align: center;
        width: 100%;
    }
}
.contacto, .pedidos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 7%;
    form{
        padding-bottom: 10%;
        background-color: #f7ecde;
        border-radius: 2.5%;
        label{
            padding: 2%;
        }
    }
}
.pedidos{
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 5%;
    }
}
.contactate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    ul{
        padding: 0%;
        li{
            list-style: none;
            text-decoration: none;
            display: inline;
            text-align: center;
            :hover{
                transform: scale(1.2);
            }
            a{
                text-decoration: none;
            }
        }
    }
}
.productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        padding-top: 5%;
        padding-bottom: 0%;
    }
    article{
        padding-top: 3.5%;
        div{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            width: 300px;
            background-color: #fce4a1;
            text-align: center;
            padding-top: 5%;
            padding-bottom: 3.5%;
            border-radius: 2.5%;
            margin-bottom: 10%;
            h3{
                padding-top: 7%;
            }
            img{
                border-radius: 2.5%;
            }
        }
    }
    h2{
        text-align: center;
        padding-top: 5.5%;
    }
}
