h1{
    font-size: $font-h1;
}
h2{
    font-size: $font-h2;
}
p{
    font-size: $font-p;
}
.bienvenida{
    background-image: url(../img/background576.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    h1{
        font-size: 45px;
        color: black;
        font-weight: bolder;
    }
    p{
        font-size: 15px;
        color: black;
    }
}
.conoce{
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        color: $h2-color;
        font-weight: bolder;
        padding-bottom: 10px;
    }
    .grillaGeneral{
        @extend .conoce;
        width: 400px;
        .horarios{
            @extend .grillaGeneral;
            h3{
                padding: 10px;
            }
        }
        }
    }
.novedades{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
    h2{
        color: $h2-color;
    }
    div{
        @extend .novedades;
        background-color: #dcdcdc;
        color: $font-color;
        border-radius: 3%;
        width: 300px;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
        box-shadow: 5px 5px 5px rgb(190, 187, 187);
        h3{
            @extend .novedades;
            width: 245px;
            padding-top: 10px;
        }
        p{
            @extend .novedades;
            width: 245px;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
        }
    }
}
.newsletter{
    background-color: $background-newsletter;
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        h3{
            font-size: 35px;
        }
        p{
            font-size: 1.2rem;
            display: flex;
            align-items: center;
        }
    }
}