h1{
    font-size: $font-h1;
}
h2{
    font-size: $font-h2;
}
p{
    font-size: $font-p;
}
.bienvenida{
    background-image: url(../img/background576.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    h1{
        font-size: 45px;
        color: black;
        font-weight: bolder;
    }
    p{
        font-size: 15px;
        color: black;
    }
}
.conoce{
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .grillaGeneral{
        @extend .conoce;
        width: 400px;
        .horarios{
            @extend .grillaGeneral;
            h3{
                padding: 10px;

            }
        }
        }
    }