@media screen and (min-width:768px){
    .bienvenida{
        background-image: url(../img/background768.png);
        height: 533px;
    }
}
@media screen and (min-width:1024px){
    .bienvenida{
        background-image: url(../img/background1024.png);
        height: 431px;
    }
}